@import "src/styles/tools/vars";

.input {
  box-sizing: border-box;
  border-radius: 4px;

  height: 56px;
  padding: 0 18px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.11px;

  color: $black;
}
