@import "~antd/dist/antd.css";
@import "../primitives/Button/style";

html, body, #root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
