//variables
@import "../../styles/tools/vars";

.personPage {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__content {
    margin-left: 40px;
  }

  &__backButton {
    svg {
      width: 25px;
      height: 25px;
    }
  }

  &__blockImage {
    display: flex;
    flex-direction: column;
  }

  &__buttonChange {
    margin-top: 20px;
  }

  &__input {
    display: none;
    margin-top: 15px;
  }

  &__blockInfo {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
