@import "src/styles/tools/vars";
@import "src/styles/tools/mixins";

$heightAfterEl: 20px;
$widthAfterEl: 20px;

.dialogItem {
  padding: 13px 20px;

  display: flex;
  cursor: pointer;

  position: relative;

  overflow: hidden;

  &::after {
    content: "";
    height: $heightAfterEl;
    width: $widthAfterEl;
    position: absolute;
    top: calc(50% - #{$heightAfterEl} / 2);
    left: calc(50% - #{$widthAfterEl} / 2);
    background: $dialog-item-hover-color;
    z-index: 1;

    border-radius: 50%;

    opacity: 0;
    transform: scale(1, 1);
    transition: all ease 0.3s;
  }

  &:active {
    &::after {
      background: $wave-bg-color;
    }
  }

  &:hover {
    &::after {
      transition: all ease 0.3s;
      transform: scale(17);
      opacity: 1;
    }
  }

  &_isSelected {
    background-color: $wave-bg-color;
  }

  &__avatar {
    margin-right: 11px;

    position: relative;
    z-index: 2;

    &_isOnline {
      @include online-indicator;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;

    position: relative;
    z-index: 2;
  }

  & .dialogItem__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    max-width: 210px;
    margin-bottom: 0;

    color: $black;
  }

  &__date {
    font-size: 12px;
    line-height: 14px;
    color: $black;
    opacity: 0.4;

    align-self: self-start;
  }

  &__content {
    width: 100%;

    position: relative;
    z-index: 2;
    margin-left: 25px;
  }

  & &__messageText {
    width: 100%;
    max-width: 210px;

    line-height: 16px;
    color: $black;

    margin-bottom: 0;
  }

  &__msgInfo {
    display: flex;
  }
}
