.tripplePoint {
  width: 14px;
  height: 3px;
  background-image: url("../../assets/tripplePoint.png");
}


.iconCheck {
  width: 15px;
  height: 8px;
  background-image: url("../../assets/check-icon.png");
}