$black: #202002;
$white: #ffffff;
$gray_border: #dddddd;
$red: red;

$blue-message: #6f90cd;
$border-message-me: #ececec;
$light-gray: #e5edff;
$badge-counter-color: #f46b6b;
$wave-bg-color: $blue-message;

$dialog-item-hover-color: #f3f7ff;

$online-color: #00c980;

$placeholder-color: #cbcbcb;

$progress-bar-color: #418fff;
