$black: #202002;
$white: #ffffff;
$gray_border: #DDDDDD;
$red: red;

$blue-message: #3674FF;
$light-gray: #E5EDFF;
$badge-counter-color: #F46B6B;
$wave-bg-color: #9E9EA1;

$dialog-item-hover-color: #F3F7FF;

$online-color: #00C980;
