@import "src/styles/tools/vars";

.input {
  position: relative;
  &__smiles {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    opacity: .3;

    font-size: 14px;
    line-height: 16px;
  }

  &__input {
    padding: 13px 100px 6px 40px;
    width: 100%;
    height: 50px;

    resize: none;
    border: 1px solid $gray_border;
    border-radius: 4px;

    &:focus {
      outline: 2px solid $blue-message;
    }
  }


  &__actionMessageWrap {
    position: absolute;
    right: 16px;
    top: 50%;

    transform: translateY(-50%);

    display: flex;

    & > .input__button:not(:last-child) {
      margin-right: 10px;
    }
  }

}


.icon_common {
  font-size: 18px;
  opacity: .3;
  cursor: pointer;
  transition: opacity .1s ease-in-out;
  &:hover {
    opacity: 1;
  }
  &[disabled] {
    opacity: 0.1;
  }
}

.input__button {
  &[disabled] {
     & > .icon_common:hover {
      cursor: initial;
    }
  }
}