@import "src/styles/tools/vars";

.messageWrapper {
  max-width: 430px;
  width: 100%;

  &_mine {
    align-self: flex-end;
  }

  &__params {
    position: relative;
    margin-left: 13px;

    display: flex;
    align-items: center;

    &_me {
      margin-left: 0;
      margin-right: 13px;
      order: 1;
    }
  }

  &__tripplePoint {
    cursor: pointer;
  }

  &__iconCheck {
    position: absolute;
    bottom: 0;
    user-select: none;

    &_left {
      left: 3px;
    }
  }

  &__contentInner {
    display: flex;

    margin-bottom: 8px;

    &_reverse {
      justify-content: flex-end;
    }
  }

  .avatar {
    &_order {
      align-self: flex-end;
      margin-right: 13px;
    }

    &_order_me {
      order: 3;
      margin-right: 0;
      margin-left: 13px;
    }
  }

  &__content {
    background: $blue-message;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0;

    padding: 13px 18px;

    &_lightGray {
      background: $light-gray;
    }

    .messageWrapper__text {
      font-size: 14px;
      line-height: 16px;
      color: $white;

      &::selection {
        color: $white;
        background: $black;
      }
    }

    .messageWrapper &_audio {
      position: relative;
      overflow: hidden;
      flex-grow: 1;

      background: $blue-message;
    }
  }

  &__content_audioInner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
  }

  &__content_audioInner_button {
    cursor: pointer;
  }

  .messageAudio__totalTime {
    font-size: 12px;
    line-height: 14px;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  &__content_mine {
    background: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0220444);
    border-radius: 12px 12px 0 12px;
    border: 1px solid $border-message-me;

    padding: 13px 18px;
    order: 2;

    .messageWrapper__text {
      font-size: 14px;
      line-height: 16px;
      color: $black;
    }
  }

  &__dateWrapper {
    &_me {
      margin-left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 14px;

    color: $black;
    opacity: 0.4;
  }
}

.messageAudio__progressBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.progressBar {
  width: 100%;
  height: 100%;
  background: $progress-bar-color;
  transition: width linear 0.3s;
}
